footer {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .fa-github {
  
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }

  * {
    padding: 0;
    margin: 0;
  }

  body {
    background: url(img/fundo.png) no-repeat center center fixed;
    background-size: cover;
  }

  

 #game {
    width: 400px;
    height: 500px;
    border: 3px solid black;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    overflow: hidden;
    background-color: rgba(254, 254, 254, 0.07);
    
 }

 #character {
    width:20px;
    height:20px;
    background-color: rgb(229, 121, 193);
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
 }

 .block {
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
    background: linear-gradient(to bottom right ,rgb(13, 211, 242),rgba(255, 180, 192));
    -webkit-background-clip: border-box;
    color: transparent;
 }

 .hole {
    width: 40px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 100px;
    margin-top: -20px;
 }

 #father {
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   
   
 }

 #p {
   display: flex;
   justify-content: center;

 }

 #copy {
   margin-top: 7px;
   
 }

 #tittle {
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
 }